/* ----------------------------------- */
    /* textS PRETO */
/* ----------------------------------- */

/* 
CORES DE REFERÊNCIA:

https://primevue.org/colors/ 

*/

.text-preto-50 {
    color: #FFFFFF;
}

.text-preto-100 {
    color: #FAFAFA;
}

.text-preto-200 {
    color: #F5F5F5;
}

.text-preto-300 {
    color: #EEEEEE;
}

.text-preto-400 {
    color: #E0E0E0;
}

.text-preto-500 {
    color: #BDBDBD;
}

.text-preto-600 {
    color: #9E9E9E;
}

.text-preto-700 {
    color: #757575;
}

.text-preto-800 {
    color: #616161;
}

.text-preto-900 {
    color: #424242;
}

.text-preto-1000 {
    color: #EFF3F8;
}

/* ----------------------------------- */
    /* BACKGROUND PRETO */
/* ----------------------------------- */


.background-color-preto-50 {
    background-color: #FFFFFF;
}

.background-color-preto-100 {
    background-color: #FAFAFA;
}

.background-color-preto-200 {
    background-color: #F5F5F5;
}

.background-color-preto-300 {
    background-color: #EEEEEE;
}

.background-color-preto-400 {
    background-color: #E0E0E0;
}

.background-color-preto-500 {
    background-color: #BDBDBD;
}

.background-color-preto-600 {
    background-color: #9E9E9E;
}

.background-color-preto-700 {
    background-color: #757575;
}

.background-color-preto-800 {
    background-color: #616161;
}

.background-color-preto-900 {
    background-color: #424242;
}

.background-color-preto-1000 {
    background-color: #EFF3F8;
}

/* ----------------------------------- */
    /* border PRETA */
/* ----------------------------------- */


.border-preta-50 {
    border: 1px solid #FFFFFF;
}

.border-preta-100 {
    border: 1px solid #FAFAFA;
}

.border-preta-200 {
    border: 1px solid #F5F5F5;
}

.border-preta-300 {
    border: 1px solid #EEEEEE;
}

.border-preta-400 {
    border: 1px solid #E0E0E0;
}

.border-preta-500 {
    border: 1px solid #BDBDBD;
}

.border-preta-600 {
    border: 1px solid #9E9E9E;
}

.border-preta-700 {
    border: 1px solid #757575;
}

.border-preta-800 {
    border: 1px solid #616161;
}

.border-preta-900 {
    border: 1px solid #424242;
}

.border-preta-1000 {
    border: 1px solid #EFF3F8;
}

/* ----------------------------------- */
    /* textS AZUL */
/* ----------------------------------- */


.text-azul-50 {
    color: #F5F9FF;
}

.text-azul-100 {
    color: #D0E1FD;
}

.text-azul-200 {
    color: #ABC9FB;
}

.text-azul-300 {
    color: #84B2F9;
}

.text-azul-400 {
    color: #609AF8;
}

.text-azul-500 {
    color: #3B82F6;
}

.text-azul-600 {
    color: #326FD1;
}

.text-azul-700 {
    color: #2A5BAC;
}

.text-azul-800 {
    color: #204887;
}

.text-azul-900 {
    color: #183462;
}

/* ----------------------------------- */
        /* BACKGROUNDS AZUL */
/* ----------------------------------- */

.background-color-azul-50 {
    background-color: #F5F9FF;
}

.background-color-azul-100 {
    background-color: #D0E1FD;
}

.background-color-azul-200 {
    background-color: #ABC9FB;
}

.background-color-azul-300 {
    background-color: #84B2F9;
}

.background-color-azul-400 {
    background-color: #609AF8;
}

.background-color-azul-500 {
    background-color: #3B82F6;
}

.background-color-azul-600 {
    background-color: #326FD1;
}

.background-color-azul-700 {
    background-color: #2A5BAC;
}

.background-color-azul-800 {
    background-color: #204887;
}

.background-color-azul-900 {
    background-color: #183462;
}

/* ----------------------------------- */
        /* BACKGROUNDS AZUL */
/* ----------------------------------- */

.border-azul-50 {
    border: 1px solid #F5F9FF;
}

.border-azul-100 {
    border: 1px solid #D0E1FD;
}

.border-azul-200 {
    border: 1px solid #ABC9FB;
}

.border-azul-300 {
    border: 1px solid #84B2F9;
}

.border-azul-400 {
    border: 1px solid #609AF8;
}

.border-azul-500 {
    border: 1px solid #3B82F6;
}

.border-azul-600 {
    border: 1px solid #326FD1;
}

.border-azul-700 {
    border: 1px solid #2A5BAC;
}

.border-azul-800 {
    border: 1px solid #204887;
}

.border-azul-900 {
    color:1px solid #183462;
}

/* ----------------------------------- */
    /* textS VERDE */
/* ----------------------------------- */


.text-verde-50 {
    color: #F4FCF7;
}

.text-verde-100 {
    color: #CAF1D8;
}

.text-verde-200 {
    color: #A0E6BA;
}

.text-verde-300 {
    color: #76DB9B;
}

.text-verde-400 {
    color: #60D17D;
}

.text-verde-500 {
    color: #5EC65F;
}

.text-verde-600 {
    color: #4FA851;
}

.text-verde-700 {
    color: #408B42;
}

.text-verde-800 {
    color: #306C34;
}

.text-verde-900 {
    color: #215026;
}

/* ----------------------------------- */
    /* BACKGROUNDS VERDE */
/* ----------------------------------- */

.background-color-verde-50 {
    background-color: #F4FCF7;
}

.background-color-verde-100 {
    background-color: #CAF1D8;
}

.background-color-verde-200 {
    background-color: #A0E6BA;
}

.background-color-verde-300 {
    background-color: #76DB9B;
}

.background-color-verde-400 {
    background-color: #60D17D;
}

.background-color-verde-500 {
    background-color: #5EC65F;
}

.background-color-verde-600 {
    background-color: #4FA851;
}

.background-color-verde-700 {
    background-color: #408B42;
}

.background-color-verde-800 {
    background-color: #306C34;
}

.background-color-verde-900 {
    background-color: #215026;
}

/* ----------------------------------- */
    /* borderS VERDE */
/* ----------------------------------- */

.border-verde-50 {
    border: 1px solid #F4FCF7;
}

.border-verde-100 {
    border: 1px solid #CAF1D8;
}

.border-verde-200 {
    border: 1px solid #A0E6BA;
}

.border-verde-300 {
    border: 1px solid #76DB9B;
}

.border-verde-400 {
    border: 1px solid #60D17D;
}

.border-verde-500 {
    border: 1px solid #5EC65F;
}

.border-verde-600 {
    border: 1px solid #4FA851;
}

.border-verde-700 {
    border: 1px solid #408B42;
}

.border-verde-800 {
    border: 1px solid #306C34;
}

.border-verde-900 {
    border: 1px solid #215026;
}

/* ----------------------------------- */
    /* textS AMARELO */
/* ----------------------------------- */


.text-amarelo-50 {
    color: #FEFBF2;
}

.text-amarelo-100 {
    color: #FAEDC4;
}

.text-amarelo-200 {
    color: #F6DE95;
}

.text-amarelo-300 {
    color: #F2D066;
}

.text-amarelo-400 {
    color: #EEC137;
}

.text-amarelo-500 {
    color: #E9B430;
}

.text-amarelo-600 {
    color: #C79927;
}

.text-amarelo-700 {
    color: #A47D1E;
}

.text-amarelo-800 {
    color: #816216;
}

.text-amarelo-900 {
    color: #5E480D;
}

/* ----------------------------------- */
    /* BACKGROUNDS AMARELO */
/* ----------------------------------- */

.background-color-amarelo-50 {
    background-color: #FEFBF2;
}

.background-color-amarelo-100 {
    background-color: #FAEDC4;
}

.background-color-amarelo-200 {
    background-color: #F6DE95;
}

.background-color-amarelo-300 {
    background-color: #F2D066;
}

.background-color-amarelo-400 {
    background-color: #EEC137;
}

.background-color-amarelo-500 {
    background-color: #E9B430;
}

.background-color-amarelo-600 {
    background-color: #C79927;
}

.background-color-amarelo-700 {
    background-color: #A47D1E;
}

.background-color-amarelo-800 {
    background-color: #816216;
}

.background-color-amarelo-900 {
    background-color: #5E480D;
}

/* ----------------------------------- */
    /* TborderS AMARELAS */
/* ----------------------------------- */

.border-amarelo-50 {
    border: 1px solid #FEFBF2;
}

.border-amarelo-100 {
    border: 1px solid #FAEDC4;
}

.border-amarelo-200 {
    border: 1px solid #F6DE95;
}

.border-amarelo-300 {
    border: 1px solid #F2D066;
}

.border-amarelo-400 {
    border: 1px solid #EEC137;
}

.border-amarelo-500 {
    border: 1px solid #E9B430;
}

.border-amarelo-600 {
    border: 1px solid #C79927;
}

.border-amarelo-700 {
    border: 1px solid #A47D1E;
}

.border-amarelo-800 {
    border: 1px solid #816216;
}

.border-amarelo-900 {
    border: 1px solid #5E480D;
}

/* ----------------------------------- */
    /* textS CIANO */
/* ----------------------------------- */


.text-ciano-50 {
    color: #F3FBFD;
}

.text-ciano-100 {
    color: #C2EDF5;
}

.text-ciano-200 {
    color: #94E0ED;
}

.text-ciano-300 {
    color: #65D2E4;
}

.text-ciano-400 {
    color: #40C4DC;
}

.text-ciano-500 {
    color: #37B6D4;
}

.text-ciano-600 {
    color: #2E9BB4;
}

.text-ciano-700 {
    color: #247F94;
}

.text-ciano-800 {
    color: #1B6475;
}

.text-ciano-900 {
    color: #114955;
}

/* ----------------------------------- */
    /* BACKGROUNDS CIANO */
/* ----------------------------------- */


.background-color-ciano-50 {
    background-color: #F3FBFD;
}

.background-color-ciano-100 {
    background-color: #C2EDF5;
}

.background-color-ciano-200 {
    background-color: #94E0ED;
}

.background-color-ciano-300 {
    background-color: #65D2E4;
}

.background-color-ciano-400 {
    background-color: #40C4DC;
}

.background-color-ciano-500 {
    background-color: #37B6D4;
}

.background-color-ciano-600 {
    background-color: #2E9BB4;
}

.background-color-ciano-700 {
    background-color: #247F94;
}

.background-color-ciano-800 {
    background-color: #1B6475;
}

.background-color-ciano-900 {
    background-color: #114955;
}

/* ----------------------------------- */
    /* border CIANO */
/* ----------------------------------- */


.border-ciano-50 {
    border: 1px solid #F3FBFD;
}

.border-ciano-100 {
    border: 1px solid #C2EDF5;
}

.border-ciano-200 {
    border: 1px solid #94E0ED;
}

.border-ciano-300 {
    border: 1px solid #65D2E4;
}

.border-ciano-400 {
    border: 1px solid #40C4DC;
}

.border-ciano-500 {
    border: 1px solid #37B6D4;
}

.border-ciano-600 {
    border: 1px solid #2E9BB4;
}

.border-ciano-700 {
    border: 1px solid #247F94;
}

.border-ciano-800 {
    border: 1px solid #1B6475;
}

.border-ciano-900 {
    border: 1px solid #114955;
}

/* ----------------------------------- */
    /* textS ROSA */
/* ----------------------------------- */

.text-rosa-50 {
    color: #FEF6FA;
}

.text-rosa-100 {
    color: #F8D2E7;
}

.text-rosa-200 {
    color: #F5B0D3;
}

.text-rosa-300 {
    color: #F28EBF;
}

.text-rosa-400 {
    color: #F06BAC;
}

.text-rosa-500 {
    color: #ED5899;
}

.text-rosa-600 {
    color: #CA4A82;
}

.text-rosa-700 {
    color: #A53C6B;
}

.text-rosa-800 {
    color: #822D54;
}

.text-rosa-900 {
    color: #5E1F3D;
}

/* ----------------------------------- */
    /* BACKGROUNDS ROSA */
/* ----------------------------------- */

.background-color-rosa-50 {
    background-color: #FEF6FA;
}

.background-color-rosa-100 {
    background-color: #F8D2E7;
}

.background-color-rosa-200 {
    background-color: #F5B0D3;
}

.background-color-rosa-300 {
    background-color: #F28EBF;
}

.background-color-rosa-400 {
    background-color: #F06BAC;
}

.background-color-rosa-500 {
    background-color: #ED5899;
}

.background-color-rosa-600 {
    background-color: #CA4A82;
}

.background-color-rosa-700 {
    background-color: #A53C6B;
}

.background-color-rosa-800 {
    background-color: #822D54;
}

.background-color-rosa-900 {
    background-color: #5E1F3D;
}

/* ----------------------------------- */
    /* borderS ROSA */
/* ----------------------------------- */

.border-rosa-50 {
    border: 1px solid #FEF6FA;
}

.border-rosa-100 {
    border: 1px solid #F8D2E7;
}

.border-rosa-200 {
    border: 1px solid #F5B0D3;
}

.border-rosa-300 {
    border: 1px solid #F28EBF;
}

.border-rosa-400 {
    border: 1px solid #F06BAC;
}

.border-rosa-500 {
    border: 1px solid #ED5899;
}

.border-rosa-600 {
    border: 1px solid #CA4A82;
}

.border-rosa-700 {
    border: 1px solid #A53C6B;
}

.border-rosa-800 {
    border: 1px solid #822D54;
}

.border-rosa-900 {
    border: 1px solid #5E1F3D;
}

/* ----------------------------------- */
    /* textS INDIGO */
/* ----------------------------------- */

.text-indigo-50 {
    color: #F7F7FE;
}

.text-indigo-100 {
    color: #DADAFC;
}

.text-indigo-200 {
    color: #BCBDF9;
}

.text-indigo-300 {
    color: #9EA0F6;
}

.text-indigo-400 {
    color: #8183F4;
}

.text-indigo-500 {
    color: #6367F1;
}

.text-indigo-600 {
    color: #5457CD;
}

.text-indigo-700 {
    color: #4547A9;
}

.text-indigo-800 {
    color: #363885;
}

.text-indigo-900 {
    color: #282960;
}

/* ----------------------------------- */
    /* BACKGROUNDS INDIGO */
/* ----------------------------------- */

.background-color-indigo-50 {
    background-color: #F7F7FE;
}

.background-color-indigo-100 {
    background-color: #DADAFC;
}

.background-color-indigo-200 {
    background-color: #BCBDF9;
}

.background-color-indigo-300 {
    background-color: #9EA0F6;
}

.background-color-indigo-400 {
    background-color: #8183F4;
}

.background-color-indigo-500 {
    background-color: #6367F1;
}

.background-color-indigo-600 {
    background-color: #5457CD;
}

.background-color-indigo-700 {
    background-color: #4547A9;
}

.background-color-indigo-800 {
    background-color: #363885;
}

.background-color-indigo-900 {
    background-color: #282960;
}

/* ----------------------------------- */
    /* borderS INDIGO */
/* ----------------------------------- */

.border-indigo-50 {
    border: 1px solid #F7F7FE;
}

.border-indigo-100 {
    border: 1px solid #DADAFC;
}

.border-indigo-200 {
    border: 1px solid #BCBDF9;
}

.border-indigo-300 {
    border: 1px solid #9EA0F6;
}

.border-indigo-400 {
    border: 1px solid #8183F4;
}

.border-indigo-500 {
    border: 1px solid #6367F1;
}

.border-indigo-600 {
    border: 1px solid #5457CD;
}

.border-indigo-700 {
    border: 1px solid #4547A9;
}

.border-indigo-800 {
    border: 1px solid #363885;
}

.border-indigo-900 {
    border: 1px solid #282960;
}

/* ----------------------------------- */
    /* textS TEAL */
/* ----------------------------------- */

.text-teal-50 {
    color: #F3FBFB;
}

.text-teal-100 {
    color: #C7EEE9;
}

.text-teal-200 {
    color: #9ADFD9;
}

.text-teal-300 {
    color: #6DD3C8;
}

.text-teal-400 {
    color: #4EC5B7;
}

.text-teal-500 {
    color: #4AB9A6;
}

.text-teal-600 {
    color: #3D9D8E;
}

.text-teal-700 {
    color: #318174;
}

.text-teal-800 {
    color: #25655B;
}

.text-teal-900 {
    color: #194A42;
}

/* ----------------------------------- */
    /* BACKGROUNDS TEAL */
/* ----------------------------------- */

.background-color-teal-50 {
    background-color: #F3FBFB;
}

.background-color-teal-100 {
    background-color: #C7EEE9;
}

.background-color-teal-200 {
    background-color: #9ADFD9;
}

.background-color-teal-300 {
    background-color: #6DD3C8;
}

.background-color-teal-400 {
    background-color: #4EC5B7;
}

.background-color-teal-500 {
    background-color: #4AB9A6;
}

.background-color-teal-600 {
    background-color: #3D9D8E;
}

.background-color-teal-700 {
    background-color: #318174;
}

.background-color-teal-800 {
    background-color: #25655B;
}

.background-color-teal-900 {
    background-color: #194A42;
}

/* ----------------------------------- */
    /* borderS TEAL */
/* ----------------------------------- */

.border-teal-50 {
    border: 1px solid #F3FBFB;
}

.border-teal-100 {
    border: 1px solid #C7EEE9;
}

.border-teal-200 {
    border: 1px solid #9ADFD9;
}

.border-teal-300 {
    border: 1px solid #6DD3C8;
}

.border-teal-400 {
    border: 1px solid #4EC5B7;
}

.border-teal-500 {
    border: 1px solid #4AB9A6;
}

.border-teal-600 {
    border: 1px solid #3D9D8E;
}

.border-teal-700 {
    border: 1px solid #318174;
}

.border-teal-800 {
    border: 1px solid #25655B;
}

.border-teal-900 {
    border: 1px solid #194A42;
}

/* ----------------------------------- */
    /* textS LARANJA */
/* ----------------------------------- */

.text-laranja-50 {
    color: #FFF8F3;
}

.text-laranja-100 {
    color: #FDDDC7;
}

.text-laranja-200 {
    color: #FBC39B;
}

.text-laranja-300 {
    color: #F9A76F;
}

.text-laranja-400 {
    color: #F78D42;
}

.text-laranja-500 {
    color: #F57328;
}

.text-laranja-600 {
    color: #D46221;
}

.text-laranja-700 {
    color: #AE521A;
}

.text-laranja-800 {
    color: #883F12;
}

.text-laranja-900 {
    color: #642E0A;
}

/* ----------------------------------- */
    /* BACKGROUNDS LARANJA */
/* ----------------------------------- */

.background-color-laranja-50 {
    background-color: #FFF8F3;
}

.background-color-laranja-100 {
    background-color: #FDDDC7;
}

.background-color-laranja-200 {
    background-color: #FBC39B;
}

.background-color-laranja-300 {
    background-color: #F9A76F;
}

.background-color-laranja-400 {
    background-color: #F78D42;
}

.background-color-laranja-500 {
    background-color: #F57328;
}

.background-color-laranja-600 {
    background-color: #D46221;
}

.background-color-laranja-700 {
    background-color: #AE521A;
}

.background-color-laranja-800 {
    background-color: #883F12;
}

.background-color-laranja-900 {
    background-color: #642E0A;
}

/* ----------------------------------- */
    /* borderS LARANJA */
/* ----------------------------------- */

.border-laranja-50 {
    border: 1px solid #FFF8F3;
}

.border-laranja-100 {
    border: 1px solid #FDDDC7;
}

.border-laranja-200 {
    border: 1px solid #FBC39B;
}

.border-laranja-300 {
    border: 1px solid #F9A76F;
}

.border-laranja-400 {
    border: 1px solid #F78D42;
}

.border-laranja-500 {
    border: 1px solid #F57328;
}

.border-laranja-600 {
    border: 1px solid #D46221;
}

.border-laranja-700 {
    border: 1px solid #AE521A;
}

.border-laranja-800 {
    border: 1px solid #883F12;
}

.border-laranja-900 {
    border: 1px solid #642E0A;
}

/* ----------------------------------- */
    /* textS BLUEGRAY */
/* ----------------------------------- */

.text-bluegrey-50 {
    color: #F7F8F9;
}

.text-bluegrey-100 {
    color: #DADEE3;
}

.text-bluegrey-200 {
    color: #AAB1B9;
}

.text-bluegrey-300 {
    color: #9FA9B7;
}

.text-bluegrey-400 {
    color: #818EA1;
}

.text-bluegrey-500 {
    color: #64748B;
}

.text-bluegrey-600 {
    color: #556376;
}

.text-bluegrey-700 {
    color: #465161;
}

.text-bluegrey-800 {
    color: #37404C;
}

.text-bluegrey-900 {
    color: #282E38;
}

/* ----------------------------------- */
    /* BACKGROUNDS BLUEGRAY */
/* ----------------------------------- */

.background-color-bluegrey-50 {
    background-color: #F7F8F9;
}

.background-color-bluegrey-100 {
    background-color: #DADEE3;
}

.background-color-bluegrey-200 {
    background-color: #AAB1B9;
}

.background-color-bluegrey-300 {
    background-color: #9FA9B7;
}

.background-color-bluegrey-400 {
    background-color: #818EA1;
}

.background-color-bluegrey-500 {
    background-color: #64748B;
}

.background-color-bluegrey-600 {
    background-color: #556376;
}

.background-color-bluegrey-700 {
    background-color: #465161;
}

.background-color-bluegrey-800 {
    background-color: #37404C;
}

.background-color-bluegrey-900 {
    background-color: #282E38;
}

/* ----------------------------------- */
    /* borderS BLUEGRAY */
/* ----------------------------------- */

.border-bluegrey-50 {
    border: 1px solid #F7F8F9;
}

.border-bluegrey-100 {
    border: 1px solid #DADEE3;
}

.border-bluegrey-200 {
    border: 1px solid #AAB1B9;
}

.border-bluegrey-300 {
    border: 1px solid #9FA9B7;
}

.border-bluegrey-400 {
    border: 1px solid #818EA1;
}

.border-bluegrey-500 {
    border: 1px solid #64748B;
}

.border-bluegrey-600 {
    border: 1px solid #556376;
}

.border-bluegrey-700 {
    border: 1px solid #465161;
}

.border-bluegrey-800 {
    border: 1px solid #37404C;
}

.border-bluegrey-900 {
    border: 1px solid #282E38;
}

/* ----------------------------------- */
    /* textS ROXO */
/* ----------------------------------- */

.text-roxo-50 {
    color: #FBF7FF;
}

.text-roxo-100 {
    color: #EAD6FD;
}

.text-roxo-200 {
    color: #DAB6FC;
}

.text-roxo-300 {
    color: #C996FA;
}

.text-roxo-400 {
    color: #B975F9;
}

.text-roxo-500 {
    color: #AB6FF8;
}

.text-roxo-600 {
    color: #915DD2;
}

.text-roxo-700 {
    color: #784CAD;
}

.text-roxo-800 {
    color: #5D3A88;
}

.text-roxo-900 {
    color: #442863;
}

/* ----------------------------------- */
    /* BACKGROUNDS ROXO */
/* ----------------------------------- */

.background-color-roxo-50 {
    background-color: #FBF7FF;
}

.background-color-roxo-100 {
    background-color: #EAD6FD;
}

.background-color-roxo-200 {
    background-color: #DAB6FC;
}

.background-color-roxo-300 {
    background-color: #C996FA;
}

.background-color-roxo-400 {
    background-color: #B975F9;
}

.background-color-roxo-500 {
    background-color: #AB6FF8;
}

.background-color-roxo-600 {
    background-color: #915DD2;
}

.background-color-roxo-700 {
    background-color: #784CAD;
}

.background-color-roxo-800 {
    background-color: #5D3A88;
}

.background-color-roxo-900 {
    background-color: #442863;
}

/* ----------------------------------- */
    /* borderS ROXO */
/* ----------------------------------- */

.border-roxo-50 {
    border: 1px solid #FBF7FF;
}

.border-roxo-100 {
    border: 1px solid #EAD6FD;
}

.border-roxo-200 {
    border: 1px solid #DAB6FC;
}

.border-roxo-300 {
    border: 1px solid #C996FA;
}

.border-roxo-400 {
    border: 1px solid #B975F9;
}

.border-roxo-500 {
    border: 1px solid #AB6FF8;
}

.border-roxo-600 {
    border: 1px solid #915DD2;
}

.border-roxo-700 {
    border: 1px solid #784CAD;
}

.border-roxo-800 {
    border: 1px solid #5D3A88;
}

.border-roxo-900 {
    border: 1px solid #442863;
}

/* ----------------------------------- */
    /* textS VERMELHO */
/* ----------------------------------- */

.text-vermelho-50 {
    color: #FEF5F5;
}

.text-vermelho-100 {
    color: #FAD0CE;
}

.text-vermelho-200 {
    color: #F7ABA7;
}

.text-vermelho-300 {
    color: #F58580;
}

.text-vermelho-400 {
    color: #F35F58;
}

.text-vermelho-500 {
    color: #F24530;
}

.text-vermelho-600 {
    color: #D93D2B;
}

.text-vermelho-700 {
    color: #B33123;
}

.text-vermelho-800 {
    color: #8C251C;
}

.text-vermelho-900 {
    color: #661814;
}

/* ----------------------------------- */
    /* BACKGROUNDS VERMELHO */
/* ----------------------------------- */

.background-color-vermelho-50 {
    background-color: #FEF5F5;
}

.background-color-vermelho-100 {
    background-color: #FAD0CE;
}

.background-color-vermelho-200 {
    background-color: #F7ABA7;
}

.background-color-vermelho-300 {
    background-color: #F58580;
}

.background-color-vermelho-400 {
    background-color: #F35F58;
}

.background-color-vermelho-500 {
    background-color: #F24530;
}

.background-color-vermelho-600 {
    background-color: #D93D2B;
}

.background-color-vermelho-700 {
    background-color: #B33123;
}

.background-color-vermelho-800 {
    background-color: #8C251C;
}

.background-color-vermelho-900 {
    background-color: #661814;
}

/* ----------------------------------- */
    /* borderS VERMELHO */
/* ----------------------------------- */

.border-vermelho-50 {
    border: 1px solid #FEF5F5;
}

.border-vermelho-100 {
    border: 1px solid #FAD0CE;
}

.border-vermelho-200 {
    border: 1px solid #F7ABA7;
}

.border-vermelho-300 {
    border: 1px solid #F58580;
}

.border-vermelho-400 {
    border: 1px solid #F35F58;
}

.border-vermelho-500 {
    border: 1px solid #F24530;
}

.border-vermelho-600 {
    border: 1px solid #D93D2B;
}

.border-vermelho-700 {
    border: 1px solid #B33123;
}

.border-vermelho-800 {
    border: 1px solid #8C251C;
}

.border-vermelho-900 {
    border: 1px solid #661814;
}

/* ----------------------------------- */
    /* textS CINZA */
/* ----------------------------------- */

.text-cinza-50 {
    color: #FAFAFA;
}

.text-cinza-100 {
    color: #F5F5F5;
}

.text-cinza-200 {
    color: #EEEEEE;
}

.text-cinza-300 {
    color: #E0E0E0;
}

.text-cinza-400 {
    color: #BDBDBD;
}

.text-cinza-500 {
    color: #9E9E9E;
}

.text-cinza-600 {
    color: #757575;
}

.text-cinza-700 {
    color: #616161;
}

.text-cinza-800 {
    color: #424242;
}

.text-cinza-900 {
    color: #212121;
}

/* ----------------------------------- */
    /* BACKGROUNDS CINZA */
/* ----------------------------------- */

.background-color-cinza-50 {
    background-color: #FAFAFA;
}

.background-color-cinza-100 {
    background-color: #F5F5F5;
}

.background-color-cinza-200 {
    background-color: #EEEEEE;
}

.background-color-cinza-300 {
    background-color: #E0E0E0;
}

.background-color-cinza-400 {
    background-color: #BDBDBD;
}

.background-color-cinza-500 {
    background-color: #9E9E9E;
}

.background-color-cinza-600 {
    background-color: #757575;
}

.background-color-cinza-700 {
    background-color: #616161;
}

.background-color-cinza-800 {
    background-color: #424242;
}

.background-color-cinza-900 {
    background-color: #212121;
}

/* ----------------------------------- */
    /* borderS CINZA */
/* ----------------------------------- */

.border-cinza-50 {
    border: 1px solid #FAFAFA;
}

.border-cinza-100 {
    border: 1px solid #F5F5F5;
}

.border-cinza-200 {
    border: 1px solid #EEEEEE;
}

.border-cinza-300 {
    border: 1px solid #E0E0E0;
}

.border-cinza-400 {
    border: 1px solid #BDBDBD;
}

.border-cinza-500 {
    border: 1px solid #9E9E9E;
}

.border-cinza-600 {
    border: 1px solid #757575;
}

.border-cinza-700 {
    border: 1px solid #616161;
}

.border-cinza-800 {
    border: 1px solid #424242;
}

.border-cinza-900 {
    border: 1px solid #212121;
}
